.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 30%;
  grid-template-rows: 1fr 1fr 1fr 30%;
  grid-template-areas: "view view view actions" "view view view actions" "view view view actions" "stats stats stats settings";
  width: 100vw;
  height: 100vh;
}

.stats {
  grid-area: stats;
}

.view {
  grid-area: view;
}

.settings {
  grid-area: settings;
}

.actions {
  grid-area: actions;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

.actionWrapper {
  width: 100%;
  margin-top: 12px;
}
