.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 30%;
  grid-template-rows: 1fr 1fr 1fr 35%;
  grid-template-areas: "view view view actions" "view view view actions" "view view view actions" "stats stats activity activity";
  width: 100vw;
  height: 100vh;
}

.stats {
  grid-area: stats;
  font-size: 0.8em;
}

.settings {
  grid-area: settings;
}
.activity {
  grid-area: activity;
}

.actions {
  font-size: 0.8em;
  grid-area: actions;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.actionWrapper {
  width: 100%;
  margin-top: 12px;
}

.view {
  grid-area: view;
  background-color: #000000;
  text-align: center;
  width: 100%;
  background-image: url("/assets/earth.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.earth-photo {
  height: 100%;
  z-index: 1;
  position: relative;
}

.earth-particles {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  z-index: 10;
}
